<%
plugin_class = Java::OrgSonarPluginsMotionchart::MotionChartPlugin
metrics = Property.value(plugin_class::DEFAULT_METRICS_KEY, nil, plugin_class::DEFAULT_METRICS_VALUE) + ',' + Property.value(plugin_class::ADDITIONAL_METRICS_KEY, nil, plugin_class::ADDITIONAL_METRICS_DEFAULT_VALUE)
ws_url = "#{ApplicationController.root_context}/api/plugins/MotionchartWebService?out=json&metrics=#{metrics}"
ws_url = ws_url + "&resource=#{@project.id}" if @project
%>
<%= image_tag('loading.gif', {:id => "mc_loading"}) %>
<div id="motion_chart"></div>
<div id="no_data" style="display:none">
	<h3>No projects.</h3>
</div>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">

	function motion_chart_query() {
		var query = new google.visualization.Query('<%=ws_url%>');
		query.send(motion_chart_query_callback);
	} 

	function motion_chart_query_callback(response) {
		$('mc_loading').hide();
		if (response.isError()) {
			error(response.getDetailedMessage());
			return; 
		}
		if (response.getDataTable().getNumberOfRows() > 0) {
			render_motion_chart(response.getDataTable());
		} else {
			$('no_data').show();
		}
	}
	
	function render_motion_chart(data_table) {
		var chart = new google.visualization.MotionChart(document.getElementById('motion_chart'));
		var options = {};
		options['width'] = <%= Property.value(plugin_class::WIDTH_KEY, nil, plugin_class::DEFAULT_WIDTH) -%>;
		options['height'] = <%= Property.value(plugin_class::HEIGHT_KEY, nil, plugin_class::DEFAULT_HEIGHT) -%>;
		chart.draw(data_table, options);
	}
	
	Event.observe(window, "load", new function() {
		google.load("visualization", "1", {packages:["motionchart"]});
		google.setOnLoadCallback(motion_chart_query); 
		});
</script>