<%
plugin_class = Java::OrgSonarPluginsMotionchart::MotionChartPlugin
metrics = Property.value(plugin_class::DEFAULT_METRICS_KEY, nil, plugin_class::DEFAULT_METRICS_VALUE) + ',' + Property.value(plugin_class::ADDITIONAL_METRICS_KEY, nil, plugin_class::ADDITIONAL_METRICS_DEFAULT_VALUE)
ws_url = "#{ApplicationController.root_context}/api/plugins/MotionchartWebService?out=json&metrics=#{metrics}"
ws_url = ws_url + "&resource=#{@project.id}" if @project
%>
<form>
<table>
		<tr>
		  <td><span class="note">Period: </span>
        <select name="period" class="small" id="mc_period" onChange="motion_chart_query();return false;">
          <option value="1">One month</option>
          <option value="3" selected="selected">Three months</option>
          <option value="6">Six months</option>
          <option value="12">One year</option>
          <option value="60">Max</option>
        </select>
      </td>

      <% if @project %>
      <td width="15px"> </td>
      <td><span class="note">Components: </span>
        <input type="checkbox" name="components" class="small" id="mc_components" value="true" checked="checked" onclick="motion_chart_query();return false;"></input>
      </td>
      <% else %>
        <input type="hidden" name="components" id="mc_components"></input>
      <% end %>


      <td width="15px"> </td>
      <td>
        <%= image_tag('loading.gif', {:id => "mc_loading"}) %>
      </td>
    </tr>
</table>
</form>
<div id="motion_chart"></div>
<div id="no_data" style="display:none">
	<p>No data.</p>
</div>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">

	function motion_chart_query() {
	  $('mc_loading').show();
	  $('motion_chart').hide();
	  $('no_data').hide();
		var query = new google.visualization.Query('<%= ws_url -%>&period=' + $F('mc_period') + '&components=' + $F('mc_components'));
		query.send(motion_chart_query_callback);
	} 

	function motion_chart_query_callback(response) {
		$('mc_loading').hide();
		if (response.isError()) {
			error(response.getDetailedMessage());
			return; 
		}
		if (response.getDataTable().getNumberOfRows() > 0) {
		  $('motion_chart').show();
			render_motion_chart(response.getDataTable());
		} else {
			$('no_data').show();
		}
	}
	
	function render_motion_chart(data_table) {
		var chart = new google.visualization.MotionChart(document.getElementById('motion_chart'));
		var options = {};
		options['width'] = <%= Property.value(plugin_class::WIDTH_KEY, nil, plugin_class::DEFAULT_WIDTH) -%>;
		options['height'] = <%= Property.value(plugin_class::HEIGHT_KEY, nil, plugin_class::DEFAULT_HEIGHT) -%>;
		chart.draw(data_table, options);
	}
	
	Event.observe(window, "load", new function() {
		google.load("visualization", "1", {packages:["motionchart"]});
		google.setOnLoadCallback(motion_chart_query); 
		});
</script>